body {
    background-color:black;
    font-family: arial;
    color:white;
}
h1{
    color:grey;
    font-family: verdana;
}

fieldset {
    border-width:0px;
}
.maindiv {
    background-color:white;
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    align-self:center;
    margin:0 auto;

}

.highlight {
    background-color:yellow;
}

